<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<h1 class="link2">Genres</h1>
<div class="button-container">
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Point-and-click</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Fighting</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Shooter</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Music</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Platform</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Puzzle</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Racing</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Real Time Strategy (RTS)</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Role-playing (RPG)</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Simulator</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Sport</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Strategy</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Turn-based Strategy (TBS)</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Tactical</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Quiz/Trivia</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Hack and slash/Beat 'em up</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Pinball</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Adventure</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Arcade</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Visual Novel</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Indie</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">Card & Board Game</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleGenre(this)">MOBA</div>
</div>


<h1 class="link2">Themes</h1>
<div class="button-container">
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Fantasy</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Thriller</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Science fiction</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Action</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Horror</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Survival</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Historical</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Stealth</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Business</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Comedy</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Drama</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Non-fiction</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Educational</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Sandbox</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Kids</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Open World</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Warfare</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">4X (explore, expand, exploit, and exterminate)</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Mystery</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Party</div>
  <div class="p-2 btn btn-dark" type="button" onclick="toggleTheme(this)">Romance</div>
</div>

<div class="container-fluid-5">
  <h1 class="link2">Game Archive</h1>
  <div class="card-container">
    <% data.forEach(event => { %>
      <% if (event.cover) { %>
        <div class="card">
          <a href="/gamepage/<%= event.id %>" class="link2" aria-label="<%=event.name %>"><%=event.name %>
            <% 
            let coverURL = event.cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=event.name %>">
          </a>
        </div>
      <% } %>
    <% }) %>
  </div>
</div>


<style>
  .selected {
    background-color: #007bff;
    color: white;
  }
</style>

<!-- <script>
  function toggleGenre(button) {
    button.classList.toggle("selected");
    console.log("Toggle:", button.textContent);
  }

  function fetchGames() {
    const genreButtons = document.querySelectorAll("#genre-container .selected");
    const genres = Array.from(genreButtons).map((button) => button.textContent);
    console.log("Selected genres:", genres);

    const genreQueryParam = genres.map((genre) => `genre[]=${encodeURIComponent(genre)}`).join("&");

    console.log("Genre query param:", genreQueryParam);
    window.location.href = `/archive?${genreQueryParam}`;
  }
</script> -->

<script>
  function toggleGenre(button) {
    button.classList.toggle("selected");
    console.log("Toggle:", button.textContent);
    fetchGames('genre', button.textContent);
  }

  function toggleTheme(button) {
    button.classList.toggle("selected");
    console.log("Toggle:", button.textContent);
    fetchGames('theme', button.textContent);
  }

  function fetchGames(type, value) {
    if (type === 'genre') {
      window.location.href = `/archive?genre=${encodeURIComponent(value)}`;
    } else if (type === 'theme') {
      window.location.href = `/archive?theme=${encodeURIComponent(value)}`;
    }
  }
</script>

<%- include ('../partials/footer') %> 