<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<h1>Genres</h1>
<div class="d-flex flex-wrap">
  <div class="p-2 btn btn-dark" type="button">Point-and-click</div>
  <div class="p-2">Fighting</div>
  <div class="p-2">Shooter</div>
  <div class="p-2">Music</div>
  <div class="p-2">Platform</div>
  <div class="p-2">Puzzle</div>
  <div class="p-2">Racing</div>
  <div class="p-2">Real Time Strategy (RTS)</div>
  <div class="p-2">Role-playing (RPG)</div>
  <div class="p-2">Simulator</div>
  <div class="p-2">Sport</div>
  <div class="p-2">Strategy</div>
  <div class="p-2">Turn-based Strategy (TBS)</div>
  <div class="p-2">Tactical</div>
  <div class="p-2">Quiz/Trivia
  <div class="p-2">Hack and slash/Beat 'em up</div>
  <div class="p-2">Pinball</div>
  <div class="p-2">Adventure</div>
  <div class="p-2">Arcade</div>
  <div class="p-2">Visual Novel</div>
  <div class="p-2">Indie</div>
  <div class="p-2">Card & Board Game</div>
  <div class="p-2">MOBA</div>
</div>

<h1>Themes</h1>
<div class="d-flex flex-wrap">
  <div class="p-2">Fantasy</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="container-fluid-1">
    <h1 class="link2">Search Results</h1>
    <div class="card-row">
      <% data.forEach(event => { %>
        <div class="card">
          <a class="link2" aria-label="<%=event.name %>"><%=event.name %></a>
          <% if (event.cover) { %>
            <% 
            let coverURL = event.cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=event.name %>">
          <% } else { %>
            <p>Image Not Found</p>
          <% } %>
        </div>
      <% }) %>
    </div>
</div>

<%- include ('../partials/footer') %> 