<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<h1>Genres</h1>
<div class="d-flex flex-row">
  <div class="d-flex flex-wrap btn btn-dark" type="button">Point-and-click</div>
  <div class="d-flex flex-wrap">Fighting</div>
  <div class="d-flex flex-wrap">Shooter</div>
  <div class="d-flex flex-wrap">Music</div>
  <div class="d-flex flex-wrap">Platform</div>
  <div class="d-flex flex-wrap">Puzzle</div>
  <div class="d-flex flex-wrap">Racing</div>
  <div class="d-flex flex-wrap">Real Time Strategy (RTS)</div>
  <div class="d-flex flex-wrap">Role-playing (RPG)</div>
  <div class="d-flex flex-wrap">Simulator</div>
  <div class="d-flex flex-wrap">Sport</div>
  <div class="d-flex flex-wrap">Strategy</div>
  <div class="d-flex flex-wrap">Turn-based Strategy (TBS)</div>
  <div class="d-flex flex-wrap">Tactical</div>
  <div class="d-flex flex-wrap">Quiz/Trivia
  <div class="d-flex flex-wrap">Hack and slash/Beat 'em up</div>
  <div class="d-flex flex-wrap">Pinball</div>
  <div class="d-flex flex-wrap">Adventure</div>
  <div class="d-flex flex-wrap">Arcade</div>
  <div class="d-flex flex-wrap">Visual Novel</div>
  <div class="d-flex flex-wrap">Indie</div>
  <div class="d-flex flex-wrap">Card & Board Game</div>
  <div class="d-flex flex-wrap">MOBA</div>
</div>

<h1>Themes</h1>
<div class="d-flex flex-row">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="container-fluid-1">
    <h1 class="link2">Search Results</h1>
    <div class="card-row">
      <% data.forEach(event => { %>
        <div class="card">
          <a class="link2" aria-label="<%=event.name %>"><%=event.name %></a>
          <% if (event.cover) { %>
            <% 
            let coverURL = event.cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=event.name %>">
          <% } else { %>
            <p>Image Not Found</p>
          <% } %>
        </div>
      <% }) %>
    </div>
</div>

<%- include ('../partials/footer') %> 