<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container-fluid-discover">
    <h1>My Library</h1>
    <div class="card-row">
      <% games.forEach(game => { %> <% if (game.cover) { %>
      <div class="card">
        <a
          href="/gamepage/<%= game.game_id %>"
          class="link2"
          aria-label="<%= game.name %>"
          ><%= game.name %> <% let coverURL = game.cover.url; let coverURLBig =
          coverURL.replace('t_thumb', 't_cover_big_2x'); %>
          <img src="<%= coverURLBig %>" alt="<%= game.name %>" />
        </a>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
