<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/modal') %>

<div class="container-fluid-1">
  <h1 class="link2">Popular Games</h1>
  <div class="card-row">
    <% highest_rated_games.forEach(event => { %> 
      <% if (event.cover) { %>
    <div class="card-discover">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> 
    <% }) %>
  </div>
</div>
<div class="text-container">
  <h2 class="big-text" style="text-align:center; color:#f94f39;">Bring Your Game World Together: Discover, Connect, and Play</h2>
  <p class="small-text" style="text-align:center; color:#ffffff;">
    Welcome to the ultimate gaming hub, where passionate players and fantastic games come together. 
    Join us today and elevate your gameplay to new heights and Dive into a vast universe of diverse titles.
  </p>
  <div class="icon-buttons" style="display: flex; justify-content: center; ">
    <a href="/register" class="h5" style="margin-right: 75px;">
      <div style="display: inline-block; text-align: center;">
        <i class="fa-solid fa-user-plus" style="font-size: 50px; color:#f94f39;"></i>
        <p style="color: #f94f39; margin: 0;">Register</p>
      </div>
    </a>
    <a href="/dashboard" class="h5" style="margin-right: 75px;">
      <div style="display: inline-block; text-align: center;">
        <i class="fa-solid fa-circle-user" style="font-size: 50px; color:#f94f39;"></i>
        <p style="color: #f94f39; margin: 0;">Dashboard</p>
      </div>
    </a>
    <a href="/archive" class="h5" style="margin-right: 75px;">
      <div style="display: inline-block; text-align: center;">
        <i class="fa-solid fa-gamepad" style="font-size: 50px; color:#f94f39;"></i>
        <p style="color: #f94f39; margin: 0;">Archive</p>
      </div>
    </a>
    <a href="/search" class="h5" style="margin-right: 0px;">
      <div style="display: inline-block; text-align: center;">
        <i class="fas fa-search" style="font-size: 50px; color:#f94f39;"></i>
        <p style="color: #f94f39; margin: 0;">Search</p>
      </div>
    </a>
  </div>
</div>
<div class="container-fluid-3">
  <h1 class="link2">Popular Game Videos</h1>
  <div class="card-row">
    <% popular_game_videos.forEach(event => { %>
      <% if (event.video_id) { %>
      <div class="video">
        <a href="/gamepage/<%= event.game %>" class="link2" aria-label="<%=event.name %>"><%=event.name %></a>
        <% videoURL = 'https://www.youtube.com/embed/' + event.video_id %>
        <iframe width="560" height="315" src="<%=videoURL %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen alt="<%=event.name %>"></iframe>
      </div>
      <% } %>
    <% }) %>
  </div>
</div>
<div class="container-fluid-2">
  <h1 class="link2">Latest Games</h1>
  <div class="card-row">
    <% newest_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>
<br>
<div class="container-fluid-6">
  <h1 class="link2">Top Console Games</h1>
  <div class="card-row">
    <% top_console_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>

<br>
<div class="container-fluid-5">
  <h1 class="link2">Top PC Games</h1>
  <div class="card-row">
    <% top_pc_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>

<%- include ('../partials/footer') %>
