<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/modal') %>

<div class="container-fluid-1">
  <h1 class="link2">Highest Rated Games</h1>
  <div class="card-row">
    <% highest_rated_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>
<div class="container-fluid-3">
  <h1 class="link2">Popular Game Videos</h1>
  <div class="card-row">
    <% popular_game_videos.forEach(event => { %>
      <% if (event.video_id) { %>
      <div class="video">
        <a href="/gamepage/<%= event.game %>" class="link2" aria-label="<%=event.name %>"><%=event.name %></a>
        <% videoURL = 'https://www.youtube.com/embed/' + event.video_id %>
        <iframe width="560" height="315" src="<%=videoURL %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen alt="<%=event.name %>"></iframe>
        <!-- <i class="fas fa-plus plus-icon" onclick= "openModal('<%= event.id %>', '<%= event.name %>')" data-bs-toggle="modal" data-bs-target="#AddGameModal"></i> -->
      </div>
      <% } %>
    <% }) %>
  </div>
</div>
<div class="container-fluid-2">
  <h1 class="link2">Latest Games</h1>
  <div class="card-row">
    <% newest_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>

<%- include ('../partials/footer') %>
