<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<div class="container-fluid-1">
  <h1 class="link2">Highest Rated Games</h1>
  <div class="card-row">
    <% highest_rated_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>
<div class="container-fluid-2">
  <h1 class="link2">Latest Games</h1>
  <div class="card-row">
    <% newest_games.forEach(event => { %> <% if (event.cover) { %>
    <div class="card">
      <a
        href="/gamepage/<%= event.id %>"
        class="link2"
        aria-label="<%=event.name %>"
        ><%=event.name %> <% let coverURL = event.cover.url; let coverURLBig =
        coverURL.replace('t_thumb', 't_cover_big_2x'); %>
        <img src="<%=coverURLBig %>" alt="<%=event.name %>" />
      </a>
      <i
        class="fas fa-plus plus-icon"
        onclick="openModal('<%= event.id %>', '<%= event.name %>')"
        data-bs-toggle="modal"
        data-bs-target="#AddGameModal"
      ></i>
    </div>
    <% } %> <% }) %>
  </div>
</div>

<%- include ('../partials/modal') %>

<script>
  // For using game images in modal
  document.addEventListener("DOMContentLoaded", function () {
    const plusIcons = document.querySelectorAll(".plus-icon");
    const modalImage = document.getElementById("modalImage");

    plusIcons.forEach((icon) => {
      icon.addEventListener("click", function () {
        const cardImage = icon.parentElement.querySelector("img");

        modalImage.src = cardImage.src;
        modalImage.alt = cardImage.alt;
      });
    });
  });

  function openModal(gameId, gameName) {
    document.getElementById("gameId").value = gameId;
    document.getElementById("gameName").value = gameName;
  }
</script>

<!-- function openModal(gameId, gameName) { 
  document.getElementById("gameId").value = gameId;
  document.getElementById("gameName").value = gameName;
}

  function submitAddGameForm() {
    const form = document.getElementById("addGameForm");
    const formData = new FormData(form);
    const requestBody = {};

    for (const [key, value] of formData.entries()) {
      requestBody[key] = value;
    }

  fetch("/add_game", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(requestBody),
  })
    .then((response) => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error("Error submitting the form");
      }
    })
    .then((data) => {
      console.log("Form submitted successfully", data);
      // Close the modal
      const modalInstance = bootstrap.Modal.getInstance(document.getElementById("AddGameModal"));
      modalInstance.hide();
    })
    .catch((error) => {
      console.error("Error submitting the form:", error.message);
    });
}  -->

<%- include ('../partials/footer') %>
