<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="container-fluid">
    <div class="custom-container">
      <% if (data[0].artworks) { %>
        <% 
        let artworksURL = data[0].artworks[0].url;
        let artworksURLBig = artworksURL.replace('t_thumb', 't_1080p_2x');
        %>
        <img class="image-blur" src="<%= artworksURLBig %>">
      <% } else { %>
        <% 
        let screenshotsURL = data[0].screenshots[0].url;
        let screenshotsURLBig = screenshotsURL.replace('t_thumb', 't_1080p_2x');
        %>
        <img class="image-blur" src="<%= screenshotsURLBig %>">
      <% } %>
    </div>
    <div class="page-container">
    <div class="content-container">
      <div class="card">
        <% 
        let coverURL = data[0].cover.url;
        let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
        %>
        <img src="<%= coverURLBig %>">
      </div>
      <div class="d-flex flex-column mb-3">
        <div class="d-flex flex-row align-items-baseline justify-content-around mb-3">
            <div class="h1" style="font-family: HafferTrial-SemiBold; color: white;" ><%=data[0].name %></div>
            <div class="ms-auto h5" style="font-family: HafferTrial-Light; color: white;" > Release Date - <%=data[0].release_dates[0].human %></div>
          </div>
        <div class="d-flex flex-wrap mb-3">
            <% for(let i = 0; i < data[0].platforms.length; i++) { %>
              <img source=" <%= data[0].platforms[i].platform_logo.url %>" alt="<%= data[0].platforms[i].name%>">
            <% } %>
          </div>
        <div class="p-1 flex-sm-fill" style="font-family: HafferTrial-Light; color: white;" ><%=data[0].summary %></div>
      </div>
    </div>
    <div class="container-fluid-3">
        <h1 class="link2">Game Screenshots</h1>
        <div class="card-row">
          <% for(let i = 0; i < data[0].screenshots.length; i++) { %>
            <div class="card-screenshot">
              <% 
              let screenshotsURL = data[0].screenshots[i].url;
              let screenshotsURLBig = screenshotsURL.replace('t_thumb', 't_screenshot_med_2x');
              %>
              <img src="<%=screenshotsURLBig %>">
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid-4">
    <h1 class="link2">Similar Games</h1>
    <div class="card-row">
        <% for(let i = 0; i < data[0].similar_games.length; i++) { %>
        <div class="card">
          <a href="/gamepage/<%= data[0].similar_games[i].id %>" class="link2" aria-label="<%=data[0].similar_games[i].name %>"><%=data[0].similar_games[i].name %>
            <% 
            let coverURL = data[0].similar_games[i].cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=data[0].similar_games[i].name %>">
        </a>
        <i class="fas fa-plus plus-icon" onclick= "openModal('<%= data[0].similar_games[i].id %>', '<%= data[0].similar_games[i].name %>')" data-bs-toggle="modal" data-bs-target="#AddGameModal"></i>
        </div>
      <% } %>
    </div>
  </div>
  

<%- include ('../partials/footer') %>
