<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>


<div class="container-fluid">
    <div class="custom-container">
      <% if (data[0].artworks) { %>
        <% 
        let artworksURL = data[0].artworks[0].url;
        let artworksURLBig = artworksURL.replace('t_thumb', 't_1080p_2x');
        %>
        <img class="image-blur" src="<%= artworksURLBig %>">
      <% } else { %>
        <% 
        let screenshotsURL = data[0].screenshots[0].url;
        let screenshotsURLBig = screenshotsURL.replace('t_thumb', 't_1080p_2x');
        %>
        <img class="image-blur" src="<%= screenshotsURLBig %>">
      <% } %>
    </div>
    <div class="page-container">
    <div class="content-container">
      <div class="card">
        <% 
        let coverURL = data[0].cover.url;
        let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
        %>
        <img src="<%= coverURLBig %>">
        <i class="fas fa-plus plus-icon" onclick= "openModal('<%= data[0].id %>', '<%= data[0].name %>')" data-bs-toggle="modal" data-bs-target="#AddGameModal"></i>
      </div>
      <div class="d-flex flex-column mb-3">
        <div class="d-flex flex-row align-items-baseline justify-content-around mb-3">
            <div class="h1" style="font-family: HafferTrial-SemiBold; color: white;" ><%=data[0].name %></div>
            <div class="ms-auto h5" style="font-family: HafferTrial-Light; color: white;" > Release Date - <%=data[0].release_dates[0].human %></div>
          </div>
        <div class="d-flex flex-wrap mb-3">
            <% for(let i = 0; i < data[0].platforms.length; i++) { %>
              <% if(data[0].platforms.platform_logo) { %> 
                <% 
                let platformLogoURL = data[0].platforms[i].platform_logo.url;
                %>
                <img src="<%=platformLogoURL %>" alt = "<%= data[0].platforms[i].name%>">
                <% } %>
            <% } %>
          </div>

        <div class="p-1 flex-sm-fill" style="font-family: HafferTrial-Light; color: white;" ><%=data[0].summary %></div>
        <div class="p-1 flex-sm-fill" style="font-family: HafferTrial-Light; color: white;" ><%=data[0].name %>, <%=data[0].name %>, <%=data[0].name %></div>
        <div id="reviews-container" class="container-fluid">
          <h1 style="font-family: HafferTrial-Light; color: white;">Top Reviews</h1>
            <% reviews.forEach(review => { %>
              <div class="review">
                <a class="link" href="/userLibrary/<%= review.username %>">
                  <h3 style="font-family: HafferTrial-Light; color: white;"><%= review.username %> - <%= review.rating %></h3>
                </a>
                <p style="font-family: HafferTrial-Light; color: white;"><%= review.review %></p>
              </div>
            <% }) %>
        </div>
      </div>
    </div>
    <div class="container-fluid-3">
        <h1 class="link2">Game Screenshots</h1>
        <div class="card-row">
          <% for(let i = 0; i < data[0].screenshots.length; i++) { %>
            <div class="card-screenshot">
              <% 
              let screenshotsURL = data[0].screenshots[i].url;
              let screenshotsURLBig = screenshotsURL.replace('t_thumb', 't_screenshot_med_2x');
              %>
              <img src="<%=screenshotsURLBig %>">
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid-4">
    <h1 class="link2">Similar Games</h1>
    <div class="card-row">
      <% if(data[0].similar_games) { %>
        <% for(let i = 0; i < data[0].similar_games.length; i++) { %>
          <% if(data[0].similar_games[i].cover) { %>
        <div class="card">
          <a href="/gamepage/<%= data[0].similar_games[i].id %>" class="link2" aria-label="<%=data[0].similar_games[i].name %>"><%=data[0].similar_games[i].name %>
            <% 
            let coverURL = data[0].similar_games[i].cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=data[0].similar_games[i].name %>">
        </a>
        <i class="fas fa-plus plus-icon" onclick= "openModal('<%= data[0].similar_games[i].id %>', '<%= data[0].similar_games[i].name %>')" data-bs-toggle="modal" data-bs-target="#AddGameModal"></i>
        </div>
        <% } %>
        <% } %>
      <% } %>
    </div>
  </div>

<%- include ('../partials/modal') %>

<script>
  // For using game images in modal
  document.addEventListener("DOMContentLoaded", function () {
    const plusIcons = document.querySelectorAll(".plus-icon");
    const modalImage = document.getElementById("modalImage");

    plusIcons.forEach((icon) => {
      icon.addEventListener("click", function () {
        const cardImage = icon.parentElement.querySelector("img");

        modalImage.src = cardImage.src;
        modalImage.alt = cardImage.alt;
      });
    });
  });

  function openModal(gameId, gameName) {
    document.getElementById("gameId").value = gameId;
    document.getElementById("gameName").value = gameName;
  }
</script>
  

<%- include ('../partials/footer') %>
