<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container-fluid-1">
    <h1 class="display-6">Latest Games</h1>
    <div class="card-row">
      <% results.data.results.forEach(event => { %>
        <div class="card">
          <img src=<%=event.image.original_url %> alt=<%=event.name %>>
        </div>
        <!-- <p><%=event.name %></p> -->
      <% }) %>
    </div>
  </div>


<%- include ('../partials/footer') %>