<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container-fluid-1">
    <h1 class="link2">Search Results</h1>
    <div class="card-row">
      <% data.forEach(event => { %>
        <div class="card">
          <a href="/gamepage/<%= event.id %>" class="link2" aria-label="<%=event.name %>"><%=event.name %>
          <% if (event.cover) { %>
            <% 
            let coverURL = event.cover.url;
            let coverURLBig = coverURL.replace('t_thumb', 't_cover_big_2x');
            %>
            <img src="<%=coverURLBig %>" alt="<%=event.name %>">
          <% } else { %>
            <p>Image Not Found</p>
          <% } %>
        </a>
        <i class="fas fa-plus plus-icon" onclick= "openModal('<%= event.id %>', '<%= event.name %>')" data-bs-toggle="modal" data-bs-target="#AddGameModal"></i>
        </div>
      <% }) %>
    </div>
  </div>

<%- include ('../partials/modal') %>

<script>
// For using game images in modal
  document.addEventListener('DOMContentLoaded', function() {
  const plusIcons = document.querySelectorAll('.plus-icon');
  const modalImage = document.getElementById('modalImage');

  plusIcons.forEach(icon => {
    icon.addEventListener('click', function() {
      const cardImage = icon.parentElement.querySelector('img');
            
      modalImage.src = cardImage.src;
      modalImage.alt = cardImage.alt;
    });
  });
});

function openModal(gameId, gameName) { 
  document.getElementById("gameId").value = gameId;
  document.getElementById("gameName").value = gameName;
}
</script>

<%- include ('../partials/footer') %>